#closeButton {
    -fx-background-color: transparent;
}

#closeButton:hover {
    -fx-border-color: black;
    -fx-background-color: red;
}

#minimizeButton {
    -fx-background-color: transparent;
}

#minimizeButton:hover {
    -fx-background-color: rgba(255,255,255, 0.5);
    -fx-text-fill: black;
    -fx-border-color: black;
}

.button {
    /*
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 149 148;
    -fx-background-image: url("../imageFiles/test.png");
    -fx-background-color: #3E3EF6;*/

    -fx-background-color: transparent;
}

.button:hover {
    /*-fx-background-color: #0313fc;*/
    -fx-text-fill: rgba(255,255,255, 1);
    -fx-background-color: rgba(255,255,255, 0.1);
}

.button:focused {
    -fx-text-fill: rgba(255,255,255, 1);
}

#VBoxLeft {
    -fx-background-image: url("../imageFiles/Leder2.PNG");
    -fx-background-size: cover;
}

#VBoxRight {
    -fx-background-image: url("../imageFiles/Papier1.png");
    -fx-background-size: cover;
}

#openScrapbookButton {
    -fx-background-color: rgba(255,255,255, 0.5);
    -fx-border-color: black;
}

#deleteScrapbookButton {
    -fx-background-color: rgba(255,255,255, 0.5);
    -fx-border-color: black;
}

#scrapbookNames {
    -fx-background-color: transparent;
    -fx-border-color: black;
    -fx-selection-bar: rgba(255,255,255, 0.1);
}

#scrapbookNames .list-cell {
    -fx-background-color: transparent;
    -fx-border-color: black;
}

#scrapbookNames .list-cell:empty {
    -fx-border-width: 0;
}

#scrapbookNames .list-cell:filled:selected {
    -fx-background-color: rgba(255,255,255, 0.5);
}









