#TitleBar .button {
    -fx-background-color: transparent;
    -fx-background-insets: 0 0 0 0;
    -fx-background-radius: 0;
}

#TitleBar .button:hover {
    -fx-background-color: rgba(255,255,255, 0.2);
}

#MinimizeButton:hover {
    -fx-background-color: rgba(255,255,255, 0.2);
}

#CloseButton:hover {
    -fx-background-color: red;
}

#Sidebar {
    -fx-background-color: transparent;
}

#Sidebar .button {
    -fx-background-color: transparent;
}

#Sidebar .button:hover {
    -fx-background-color: rgba(255,255,255, 0.2);
    -fx-border-color: white;
    -fx-border-width: 3px;
}

/*#OpenScrapbookVBox {
    -fx-background-color: transparent;
    -fx-border-color: white;
    -fx-border-width: 0px;
}*/

#OpenScrapbookText {
    -fx-effect: dropshadow(one-pass-box, rgba(0,0,0,0.8), 0.8, 1, 1, 1);
}

#ScrapbookNames {
    -fx-background-color: transparent;
}

#ScrapbookNames .list-cell {
    -fx-alignment: CENTER;
    -fx-background-color: transparent;
    -fx-border-color: white;
    -fx-border-width: 1px 0px 1px 0px;
    -fx-border-insets: 0 0 -1 0;
    -fx-text-fill: white;
    -fx-font-size: 14pt;
    -fx-font-weight: bold;
    -fx-effect: dropshadow(one-pass-box, rgba(0,0,0,0.8), 0.8, 1, 1, 1);
    -fx-padding: 8 0 8 0;

}

#ScrapbookNames .list-cell:empty {
    -fx-border-width: 0;
}

#ScrapbookNames .list-cell:filled:selected {
    -fx-background-color: rgba(255,255,255, 0.2);
}

#ListViewButtons .button {
    -fx-background-color: transparent;
    -fx-border-color: white;
    -fx-border-width: 3px;
    -fx-text-fill: white;
}

#ListViewButtons .button:hover {
    -fx-background-color: rgba(255,255,255, 0.2);
}

#MenuPane {
    -fx-background-image: url("../imageFiles/Velvet3.jpg");
    -fx-background-size: cover;
}









