#Sidebar {
    -fx-background-image: url("../imageFiles/Velvet2.jpg");
    -fx-background-size: cover;
}

#Sidebar .button {
    -fx-background-color: transparent;
}

#Sidebar .button:hover {
    -fx-background-color: rgba(255,255,255, 0.2);
    -fx-border-color: white;
    -fx-border-width: 3px;
}

#tableView {
    /*-fx-background-image: url("../imageFiles/Papier2.jpg");
    -fx-background-size: cover;*/
    -fx-background-color: transparent;
}

#tableView .table-row-cell {
    -fx-background-color: transparent;
    -fx-border-width: 0px 0px 1px 0px;
    -fx-border-color: black;
}

#tableView .column-resize-line {
    -fx-background-color: white;
}

#tableView .column-drag-header {
    -fx-background-color: rgba(255,255,255, 0.4);
}

#tableView .column-drag-header .label{
    -fx-effect: dropshadow(one-pass-box, rgba(0,0,0,0.8), 0.8, 1, 2, 2);
    -fx-text-fill: white;
    -fx-font-size: 20pt;
    -fx-font-weight: bold;
}

.textColumn.table-cell {
    -fx-alignment: CENTER;
    -fx-border-width: 0px 1px 0px 0px;
    -fx-border-color: black;
    -fx-font-size: 15pt;
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-effect: dropshadow(one-pass-box, rgba(0,0,0,0.8), 0.8, 1, 1, 1);
    -fx-padding: 0 0 0 0;
}

.textColumn.table-cell .text {
    /*-fx-stroke: black;
    -fx-stroke-width: 1px;*/
}

.imageColumn.table-cell {
    -fx-alignment: CENTER;
    -fx-padding: 2 0 1 0;
}

.text-area {
    -fx-control-inner-background: transparent;
    -fx-text-fill: white;
    -fx-display-caret: true;
    -fx-highlight-fill: rgba(0,0,0, 0.8);
    -fx-prompt-text-fil: transparent;
    -fx-border-color: transparent;
    -fx-background-color: transparent;
    -fx-padding: 0 0 0 0;
}

.text-area .content{
    -fx-alignment: CENTER;
    -fx-border-color: transparent;
}

.text-area.scroll-pane {
    -fx-background-color:transparent;
}

.text-area .scroll-pane .viewport{
    -fx-background-color: transparent;

}


.text-area .scroll-pane .content{
    -fx-background-color: transparent;
    -fx-padding: 0 0 -15 0;
}

.text-area .scroll-pane .content .text{
    -fx-text-alignment: center;
}

.imageColumn.table-cell {
    -fx-border-width: 0px 1px 0px 0px;
    -fx-border-color: black;
}

#tableView:focused {
    -fx-background-color: transparent;
}

#tableView .table-row-cell:selected {
    -fx-text-fill: rgba(255,255,255, 1);
    -fx-background-color: rgba(255,255,255, 0.2);
}

#tableView .column-header {
    -fx-size: 100 ;
    -fx-background-color: transparent;
    -fx-font-size: 20pt;
    -fx-text-fill: white;
    -fx-border-width: 0px 1px 1px 0px;
    -fx-border-color: black;
}

#tableView .column-header .label {
    -fx-effect: dropshadow(one-pass-box, rgba(0,0,0,0.8), 0.8, 1, 2, 2);
    -fx-text-fill: white;
}

#tableView .column-header-background {
    /*-fx-background-image: url("../imageFiles/Velvet3.jpg");
    -fx-background-size: cover;*/
    -fx-background-color: transparent;
}

#tableView .filler {
    -fx-background-color: transparent;
    -fx-border-width: 0px 0px 1px 0px;
    -fx-border-color: black;
}

#tableView .table-row-cell:empty {
    -fx-background-color: transparent;
    -fx-border-color:transparent;
    -fx-border-width: 0px;
}

.table-row-cell:empty .table-cell {
    -fx-border-width: 0px;
}

#ToolBox {
    -fx-background-color: transparent;
}

#ToolBox .button {
    -fx-background-color: transparent;
    -fx-border-color: white;
    -fx-border-width: 3px;
}

#ToolBox .button:hover {
    -fx-background-color: rgba(255,255,255, 0.2);
}

#Background {
    -fx-background-image: url("../imageFiles/Papier2.jpg");
    -fx-background-size: cover;
}

#TitleBar {
    -fx-background-image: url("../imageFiles/TitleBar.jpg");
    -fx-background-size: cover;
}

#TitleBar .button {
    -fx-background-color: transparent;
    -fx-background-insets: 0 0 0 0;
    -fx-background-radius: 0;
}

#TitleBar .button:hover {
    -fx-background-color: rgba(255,255,255, 0.2);
}

#MinimizeButton :hover {
    -fx-background-color: rgba(255,255,255, 0.2);
}

#CloseButton :hover {
    -fx-background-color: black;
}

.dragAndDropRow {
    -fx-background-color:red;
}

/*#VBox {
      -fx-background-color: #3e3ef6;
  }

  .table-row-cell {
      -fx-cell-size: 50px;
  }

  .table-row-cell:empty {
      -fx-background-color: white;
  }

  .table-row-cell:empty .table-cell {
      -fx-border-width: 0px;
  }*/